| Model           | ResNet_train | ToK1871_Acc_Train | ToK1902_Acc | LVT_Acc | ToK1902_PSNR | ToK1902_SSIM | LVT_PSNR | LVT_SSIM |
|-----------------|--------------|-------------------|-------------|---------|--------------|--------------|----------|----------|
| None            | HR           | 98%               | 75%         | 72%     | N/A          | N/A          | N/A      | N/A      |
| ESRGAN          | SR           |                   |             |         | 13.330       | 0.343        | 14.926   | 0.175    |
| ESRGAN_Nom      | SR           |                   |             |         | 17.615       | 0.617        | 20.447   | 0.496    |
| Real-ESRGAN     | SR           |                   |             |         |              |              |          |          |
| Real-ESRGAN_Nom | SR           |                   |             |         |              |              |          |          |
| HAT             | SR           |                   |             |         |              |              |          |          |
| HAT_Nom         | SR           |                   |             |         |              |              |          |          |
